<md-content layout-padding layout="column">
	<md-input-container flex>
		<label>Search</label>
		<input type="text" class="active" ng-model="searchQuery"
			ng-change="goSearch()" ngModelOptions="{debounce:500}">
	</md-input-container>
</md-content>

<div layout="row" layout-padding layout-wrap ng-show="!searchQuery.length">
 	<div class="text-center category fx-fade-down fx-speed-800" 
 		layout="column" flex="33" flex-sm="50"  
 		ng-repeat="(key,cat) in allCats"
 		ng-click="goToCat(cat.cat_id, cat.cat_name)">
 		<img class="circle responsive-image" ng-src="img/categories/{{cat.cat_image}}.png">
    	<!--<div class="circular" back-img="img/categories/{{cat.cat_image}}.png"></div>-->
    	<h3 class="flow-text thin no-margin">{{cat.cat_name}}</h3>
  	</div>
</div>

<div layout="row" layout-padding layout-wrap ng-show="searchQuery.length">
	<div class="text-center" layout="column" flex="33" flex-sm="50"
		ng-repeat="(key,flance) in searchResults" ng-click="goToFlance(flance.free_id)">
		<div class="circular" back-img="img/dp/{{flance.free_image}}.jpg"></div>
    	<h3 class="flow-text thin no-margin">{{flance.free_name}}</h3>
	</div>
</div>