<md-content ng-controller="chatCtrl" layout-padding layout="column" layout-fill layout-margin>
  <md-list-item
      ng-repeat="msg in messages" layout = 'column' layout-align="{{msg.guy.id != 420? 'start start': 'start end'}}" style="padding-left: 0; padding-right:0;" layout-padding ng-class="msg.guy.id == 420 ? 'desLove' : ''"> 
      <md-content class="md-3-line" layout="row" style="flex-direction: {{msg.guy.id != 420? 'row': 'row-reverse'}};" layout-padding>
        <img ng-src="img/dp/{{msg.guy.dp}}.jpg" style="margin-right: {{msg.guy.id != 420? 10: 0}}; margin-left: {{msg.guy.id != 420? 0: 10}};" class="small-profile-pic md-avatar"/>
        <div class="md-list-item-text" style="text-align: {{msg.guy.id != 420? 'left': 'right'}}; max-width:73%">
          <h3 class="no-margin">{{msg.guy.name}}</h3>
          <p class="no-margin">{{msg.contents}}</p>
        </div>
      </md-content>
  </md-list-item>
    <md-input-container style="width:80%" >
      <label style="text-align: right;">Say Something!</label>
      <textarea ng-model="chat.lol" columns="2"></textarea>
    </md-input-container>
</md-content>